<!DOCTYPE html>
<html>
  <head>
    <title>IdeasOnRailsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-sm justify-content-between navbar-light bg-light">
    <ul class="nav ">
      <a href="/ideas" class="nav-link">Idea Factory</a>
    </ul>
    <ul class="nav">
      <a href="/ideas" class="nav-link">Home</a>
      <a href="/ideas/new" class="nav-link">New Idea</a>
    </ul>
    
  </nav>
    <%= yield %>
  </body>
</html>
